{"stage":{}, 
"aiCount":2, 
"aiInteractionFrequency":55,
"isHoldMouseToMove":false, 
"isShowCollisionBoxes": false, 
"isAbsolute2D":false, 
"isWithMoveableHealthBar":false, 
"matchTimer":155, 
"isEndgameWithWalls":true, 
"isResetPositionAfterRound":true,
"p1Score":0, 
"p2Score":0, 
"rounds":2,  
"isEndgame":true,	
"gameMode":1,
"generalMoveList":[ "<span style='color:red'>G</span> = Throw", "<span style='color:lightblue'>V</span> = Vertical A","<span style='color:yellow'>H</span> = Horizontal A","<span style='color:violet'>U</span> = Break Free (stunned/down)",
                     "> + <span style='color:white'>S</span> = Push","< = Block", 
					 					 ">/< + <span style='color:lightblue'>V</span> = Vertical B",
					">/< + <span style='color:yellow'>H</span> = Horizontal B",
					 "<span style='color:violet'>U</span> + <span style='color:red'>G</span> = Horizontal C", 
					 "<span style='color:violet'>U</span> + <span style='color:white'>S</span> = Vertical C"],					
"winSound":"static/assets/sounds_main/victory.mp3", 
"loseSound":"static/assets/sounds_main/lost.mp3", 
"countdown":"static/assets/sounds_main/countdown.mp3",
"winText":"Checkmate!",
"drawEqualText":"Remise!", 
"countdownText":"Touché",
"startCheerText":"Bonne chance ", 
"server":"https://192.168.1.40:8000",
"ws":"ws://127.0.0.1:8001",
"myGameId":"1"
} 
   