{
"texts":{
			"characterName":"Strength",
			"characterDescription":"One of a million.", 
			"victoryTexts":["There was no doubt","Close, but whew!", "Great fight!", "The winner takes it all."],
			"tauntTexts":["Bring it!", "You just got lucky;", "Merely a scratch.", "Awsh.. that tickled!"],
			"loseTexts":["Bah!", "Rematch!?", "sob...","You've cheated.", "I'm still taking your wallet.."],
			"startupTexts":["Good luck, chap!", "I won't go down easily.", "Go home, you're done.", "Start bleeding!"]
			}, 
"sounds":{ 
			"hitSound":"static/assets/char/Strength/sounds/hit.mp3", 
			"hittedSound":"static/assets/char/Strength/sounds/hitted.mp3",
			"energizeSound":"static/assets/char/Strength/sounds/energize.mp3",
			"grabSound":"static/assets/char/Strength/sounds/throw.mp3",
			"blockSound":"static/assets/char/Strength/sounds/block.mp3",
			"projectileSound":"static/assets/char/Strength/sounds/projectile.mp3",
			"jumpSound":"static/assets/char/Strength/sounds/jump.mp3",
			"pushSound":"static/assets/char/Strength/sounds/push.mp3", 
			"evadeSound":"static/assets/char/Strength/sounds/evade.mp3", 
			"stunSound":"static/assets/char/Strength/sounds/stun.mp3"
			},  
"images": { 
			"portraitHappyImages":["static/assets/char/Strength/images/portraithappy_frame1.png"],
			"portraitSadImages":["static/assets/char/Strength/images/portraitsad_frame1.png"],
			"idleImages":["static/assets/char/Strength/images/idle_frame1.PNG","static/assets/char/Strength/images/idle_frame2.PNG"], 
			"movementImages":["static/assets/char/Strength/images/walk_frame1.PNG","static/assets/char/Strength/images/walk_frame2.PNG"],
			"jumpImages":["static/assets/char/Strength/images/jump_frame1.png"],
			"kickImages":["static/assets/char/Strength/images/kick_frame1.PNG"],
			"painImages":["static/assets/char/Strength/images/pain_frame1.PNG"],
			"pushImages":["static/assets/char/Strength/images/push_frame1.PNG"],
			"verticalAttackAImages":["static/assets/char/Strength/images/verticalattackA_frame1.PNG"],
			"horizontalAttackAImages":["static/assets/char/Strength/images/horizontalattackA_frame1.PNG"],
			"verticalAttackBImages":["static/assets/char/Strength/images/verticalattackB_frame1.PNG"],
			"horizontalAttackBImages":["static/assets/char/Strength/images/horizontalattackB_frame1.PNG"],
			"verticalAttackCImages":["static/assets/char/Strength/images/verticalattackC_frame1.PNG"],
			"horizontalAttackCImages":["static/assets/char/Strength/images/horizontalAttackC_frame1.PNG"],
			"otherActionAImages":["static/assets/char/Strength/images/otherActionA_frame1.PNG"],
			"rangeActionAImages":["static/assets/char/Strength/images/rangeActionA_frame1.PNG"],
			"stunnedImages":["static/assets/char/Strength/images/stunned_frame1.PNG"],
			"kneelBlockImages":["static/assets/char/Strength/images/kneelBlock_frame1.PNG"],
			"kneelImages":["static/assets/char/Strength/images/kneel_frame1.PNG"],
			"grabAImages":["static/assets/char/Strength/images/grabA_frame1.PNG"], 
			"specialAImages":["static/assets/char/Strength/images/specialA_frame1.PNG"],
			"specialBImages":["static/assets/char/Strength/images/specialB_frame1.PNG"],
			"specialCImages":["static/assets/char/Strength/images/specialC_frame1.PNG"],
			"blockImages":["static/assets/char/Strength/images/block_frame1.PNG"],   
			"hitEffectImages":["static/assets/char/Strength/images/particles/images/hit_frame1.PNG"],
			"hittedEffectImages":["static/assets/char/Strength/images/particles/images/hitted_frame1.PNG" ],
			"blockingEffectImages":["static/assets/char/Strength/images/particles/images/shield_frame1.png" ],  
			"projectileImages":["static/assets/char/Strength/images/particles/images/projectileA_frame1.PNG","static/assets/char/Strength/images/particles/images/projectileA_frame2.PNG"],
			"victoryImages":["static/assets/char/Strength/images/victory_frame1.png"],
			"downImages":["static/assets/char/Strength/images/down_frame1.PNG"],
			"isVerticalAttackAStandalone":false,
			"isHorizontalAttackAStandalone":false,
			"isVerticalAttackBStandalone":false,
			"isHorizontalAttackBStandalone":false,
			"isVerticalAttackCStandalone":false,
			"isHorizontalAttackCStandalone":false,
			"isOtherActionAStandalone":false,
			"isRangeActionAStandalone":false, 
			"isStunnedStandalone":false,
			"isSpecialAStandalone":false,
			"isSpecialBStandalone":false,
			"isSpecialCStandalone":false,
			"isGrabAStandalone":false ,
			"isPushedStandalone":false 
			}, 
"actionList":{
             "specialA":0,
             "specialB":1,
			 "specialC":2, 
			 "grabA":2,  
			 "push":3, 
			 "verticalAttackA":0,
			 "horizontalAttackA":6 ,
			 "verticalAttackB":2,
			 "horizontalAttackB":1,
			 "verticalAttackC":3,
			 "horizontalAttackC":4, 
			 "otherActionA":0,
			 "rangeActionA":-1
			 },
"health":100, 
"energy":100,
"special":0,  
"hangtime":0, 
"maxSpecial":0.25,  
"maxHealth":105,  
"maxEnergy":100, 
"maxHangTime":25, 
"inputLength":250,
"isCanDoDoubleJump":false,
"isAllowStun":true,
"isWithEnergy":false, 
"isWithHealthRestore":false, 
"isWithSpecial":true, 
"isFleeBlock":true, 
"isWatchingOpponent":true,
"sizeModifier":0.3, 
"movementModifier": 0.20, 
"damageModifier":1.0,
"launchedRemainTime":0,
"launchingTime":30,
"dotHealthTime":10,
"dotSpecialTime":10,
"dotEnergyTime":10,
"projectileRange":60, 
"isCanJump":true,
"isCanDash":true,
"isCanGoVertical":true,
"isCanGoHorizontal":true, 
"isCanBreakFree":true, 
"specialType":0, 
"tagMatch":false, 
"tagTeamCount":0,
"colorPalettes":["#2A2F35","#dfb121", "#98f5ff"],
"specificMoveList":["> + > = Dash", "<span style='color:white'>S</span> = Damage boost charge","<span style='color:violet'>U</span> + <span style='color:violet'>U</span> = Body Drain (req. 50% sp bar)"
                     ,"<hr>STYLE = Gather strength (boost), hit and repeat <hr>"],
"personalBackgroundMusic":""
}
