{"backgroundMusic":"static/assets/stages/chess/sounds/chess_background.mp3", 
"backgroundsTop":["static/assets/stages/chess/chess_frame1.png"], 
"backgroundsBottom":["static/assets/stages/chess/chess_ground.png"],
"floorImages":["static/assets/stages/chess/chess_frame.png"],
"colorPalettes":["#dfb121", "#98f5ff"]
}