{"backgroundMusic":"static/assets/stages/chess/sounds/chess_background.mp3", 
"backgroundsTop":["static/assets/stages/chess/chess_frame1.PNG"], 
"backgroundsBottom":["static/assets/stages/chess/chess_ground.PNG"],
"floorImages":["static/assets/stages/chess/chess_frame.PNG"],
"colorPalettes":["#dfb121", "#98f5ff"]
}